@charset "utf-8";

/* 헤더 */
body > header{
  position: relative;
  width: 100%;height: 80px;
  z-index: 100;
}
/* 헤더 - 내비게이션 */
.h_wrap{
  position: relative;
  width:1400px;
  margin: 0 auto;
}
.h_wrap h1{
  position: absolute;
  top: 20px;
  z-index: 10;
}
#gnb > ul{
  display: flex;
  justify-content: space-around;
  width: 850px;
  margin: 0 auto;
  padding-right: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
}
#gnb > ul > li:nth-child(4){
margin: 0 40px 0 10px;
}
/* 헤더 - 2단 내비게이션 */
.h_inner{
  overflow: hidden;
  position: relative;
  z-index: 100;
  height: 80px;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}
.h_inner:hover{height: 410px;}
.sub{
  width:140px;
  text-align: center;
  line-height: 60px;
}
.sub > li:hover a{
text-decoration: underline;
}
/* 헤더 - 언어변경*/
#lang{
  position: absolute;
  top: 32px;right: 160px;
  padding-left: 24px;
  border: none;
  background: url('../images/language_icon.svg') no-repeat;
  background-size: 17px;
  font-weight: 600;
  line-height: 17px;
  appearance: none;
  cursor: pointer;
}
/* 헤더 - 창업버튼 */
.fc_btn{
  position: absolute;
  top: 22px;right: 0;
  padding: 10px 28px;
  border-radius: 20px;
  background: var(--main_color);
  color: #fff;
  font-size: 16px;
}

/* 푸터 */
.f_top, .f_bottom{
  width: 1400px;
  margin: 0 auto;
}
.f_top{
  position: relative;
  padding: 68px 0 24px;
}
.sns{
  display: flex;
  gap: 15px;
  position: absolute;
  right: 280px;bottom: 18px;
}
.sns i{
  width: 40px;
  background: #9D9D9D;
  line-height: 40px;
}
.sns i[class*=face]{
  font-size: 24px;
}
.sns i[class*=insta]{
  font-size: 28px;
}
.f_top select{
  position: absolute;
  right: 0;bottom: 18px;
  width: 250px;height: 40px;
  border: 1px solid #FFF9F4;
  background: url('../images/arrow_drop_down_svg.svg') no-repeat 95% 50%;
  background-size: 30px;
  color: #FFF9F4;
  font-family: var(--eng_font);
  font-size: 18px;
  text-indent: 16px;
  appearance: none;
  cursor: pointer;
}
.f_top select:focus{
  appearance: none;
  color: #000;
}
.f_bottom{
  padding: 47px 0 20px;
  border-top: 1px solid #8C8C8C;
}
.f_bottom dl{
  float: right;
}
.f_bottom dt{
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: bold;
}
.f_bottom dt a{
  color: #FFF9F4;
}
.f_bottom dt i{
  font-size: 30px;
}
.f_bottom dd{
  width: 350px;
  padding-left: 60px;
  line-height: 20px;
}

/* 메인 */
/* 배너 */
#banner {
  width: 100%;
}
#banner .swiper-wrapper {
  position: relative;
  height: 700px;
}
#banner .swiper-slide {
  height: 100%;
}
#banner .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#banner .swiper-wrapper .swiper-pagination {
  bottom: 40px;
  width: 100%;
  text-align: center;
}
#banner .swiper-button-next, #banner .swiper-button-prev{
  color: #C1B7AE;
  font-weight: bold;
}
#banner .swiper-pagination-bullet{
  width: 120px; height: 4px;
  border-radius: 0;
  background: rgba(89, 89, 89, 0.5);
}
#banner .swiper-pagination-bullet-active{
  background: #C1B7AE;
}

/* 메뉴 */
#menu{
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.box_left{
  width: 50%;height: 640px;
  padding: 30px 0;
  background: url(../images/menu_bg.jpg) no-repeat center;
  background-size: cover;
}
.box_cont{
  float: right;
  transform: translateX(-382px);
}
.box_cont h3{
  color: #fff;
  font-size: 50px;
  line-height: 120px;
}
.box_cont ul{
  width: 120px;
  padding: 10px 20px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
}
.box_cont ul li:hover{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.box_right{
  position: relative;
  width: calc(50% - 300px);
  height: 620px;
  padding: 40px 150px;
  background-color: #FDFBF6;
  color: var(--sub_color);
}
.box_right h3{
  font-size: 50px;
  font-family: var(--eng_font);
  line-height: 90px;
}
.box_right p{
  line-height: 22px;
}
.box_right .main_img{
  position: absolute;
  left:-275px;bottom: 3%;
  width: 520px;
  z-index: 10;
}
#main_m {display: block;}
#set_m {display: none;}
#side_m {display: none;}
/* 메뉴 - 세트메뉴 이미지 위치 */
#menu #set_m .main_img{
  width: 540px;
  left: -300px;
}
#menu #set_m .swiper-slide img{
  width: 400px;
}
#menu #set_m .swiper-slide img[src*=half]{
  width: 450px;
}
#menu .swiper-button-prev:nth-of-type(2){
  left: 0px;
}
/* 메뉴 - 사이드메뉴 이미지 위치 */
#menu #side_m .main_img{
  width: 550px;
  left: -300px;bottom:-3%;
}
#menu #side_m .swiper-slide img{
  width: 300px;
}
#menu #side_m .swiper-slide a{
  line-height: 60px;
}
#menu .swiper-button-prev:last-of-type{
  left: -55px;
}
/* 메뉴 - 슬라이드 */
#menu .swiper-area-m {
  position: absolute;
  top: 37%;left: 340px;
  width: 100%;
}
#menu .swiper-container-m{
  overflow: hidden;
}
#menu .swiper-slide{
  color: var(--txt_basic);
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
#menu .swiper-slide p {
  margin-left: 100px;
  text-align: left;
}
#menu .swiper-slide img {
  display: block;
  margin: 0 auto;
  width: 320px;
}
#menu .swiper-button-prev{
  top: 45%;left: -65px;
  font-weight: bold;
  color: var(--txt_basic);
}

/* 뉴스&이벤트 */
#news_inner{
  overflow: hidden;
  width: 100%;
  background: url(../images/news_bg.jpg) no-repeat center;
  background-size: cover;
}
#news{
  width: 1400px;height: 570px;
  margin: 0 auto;
}
#news h3{
  color: var(--main_color);
  font-size: 50px;
  line-height: 100px;
  word-spacing: -5px;
}
#news p{
  line-height: 22px;
}
/* 뉴스&이벤트 - 플로우텍스트 */
.flow-text {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  height: 90px;
  color: transparent;
  font-family: var(--eng_font);
  font-size: 60px;
  font-weight:bold;
  line-height: 90px;
  white-space: nowrap;
  -webkit-text-stroke: 2px var(--main_color);
  transition: 0.3s;
}
.flow-wrap {
  padding-right: 10px;
  animation: textLoop 10s linear infinite;
}
.flow-wrap:nth-child(2n){
  color: var(--main_color);
}
@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* 뉴스$이벤트 - 슬라이드 */
.carousel{
  position:relative;
  top:-120px;
  height: 100%;
  perspective: 450px;
}
.carousel .carousel-item {position: absolute;}
.card{
  overflow:hidden;
  width: 330px;height: 500px;
  background-color: #fff;
  border-radius: 20px;
  color: var(--txt_basic);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.img-area{
  overflow: hidden;
  width: 330px;height: 220px;
  object-fit: 100%;
}
.main-text{
  padding: 8px 30px;
  text-align: left;
}
.main-text span{
  padding-right: 65px;
  color: var(--main_color);
  font-size: 16px;
  line-height: 50px;
}
.main-text .view{
  padding: 7px 20px;
  border: 1px solid var(--main_color);
  border-radius: 20px;
  font-size: 14px;
}
.main-text .view:hover{
  background-color: var(--main_color);
  color: #fff;
}
.main-text h4{
  padding: 15px 0 15px 0;
  font-size: 20px;
  line-height: 23px;
}
.main-text p {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipses;
  white-space: no-wrap;
}

/* 매장찾기 */
#search_inner{
  width: 100%;height: 650px;
  background: url(../images/search_bg.jpg) no-repeat;
  background-size: cover;
}
#search {
  position: relative;
  width: 1400px;
  height: 100%; /**/
  margin: 0 auto;
}
#search h3{
  padding: 50px 0 10px 0;
  font-size: 60px;
  line-height: 70px;
  font-weight: normal;
}
#search h3 span{
  font-weight: bold;
  color: var(--sub_color);
}
/* 매장찾기 - 검색바 */
#s_bar{
  position: relative;
  z-index: 1;
  width: 440px;height: 60px;
  border: 4px solid var(--sub_color);
  border-radius: 10px;
  font-family: 'Pretendard';
  font-size: 24px;
  text-indent: 10px;
  text-align: left;
  outline: none;
}
#s_bar::-webkit-search-cancel-button{display: none;}
#search i{
  position: relative;
  right: 64px;top: 21px;
  z-index: 1;
  color: var(--sub_color);
  font-size: 50px;
}
/* 매장찾기 - 이미지 */
.circle1 {
  position: absolute;
  top: 225px;left: 345px;
  width: 180px;height: 180px;
  background: rgba(211, 40, 40, 0.40);
  border-radius: 50%;
}
.circle2{
  position: absolute;
  top: 90px;left: 490px;
  width: 280px;height: 280px;
  background: rgba(228, 188, 191, 0.80);
  border-radius: 50%;
} 
.circle3 img{
  position: absolute;
  top: 240px;left: 640px;
  width: 360px;
}
.circle4 img{
  position: absolute;
  top: 50px;left: 860px;
  width: 450px;height: 450px;
  border-radius: 50%;
  object-fit: cover;
}

/* 커뮤니티 */
#community{
  width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
}
#community h2{
  padding-bottom: 5px;
  border-bottom: 1px solid var(--txt_basic);
  font-size: 50px;
}
#community h2 img{
  width: 40px;
  padding-right: 15px;
  vertical-align: top;
}
#community p{
  padding: 30px 0;
  line-height: 22px;
}
.sns_cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.sns_outbox{
  position: relative;
  width: 330px;height: 330px;
  border: 1px solid #000;
}
.sns_inbox{
  position: absolute;
  top: 50%;left: 50%;
  width: 300px;height: 300px;
  border: 1px solid #000;
  transform: translate(-50%, -50%);
}
.sns_inbox h3{
  padding: 70px 0 30px 0;
  text-align: center;
}
.sns_inbox h3 img{width: 250px;}
.sns_inbox a{
  font-size: 24px;
  margin-left: 40px;
}
.sns_inbox i{  
  margin: 10px;
  background: #000;
  border-radius: 50%;
  color: #fff;
}
.sns_inbox i[class*=face]{
  font-size: 20px;
  padding:8px 12px;
}
.sns_inbox i[class*=insta]{
  font-size: 24px;
  padding:6px 8px;
}
/* 커뮤니티 - 슬라이드 */
#community .swiper-container-c{
  width: 1000px;
  overflow: hidden;
}
#community .swiper-slide{
  height: 100%;
}
#community .swiper-slide a img {
  width: 350px;
  object-fit: cover;
}
#community .swiper-area-c .swiper-pagination {
  position: relative;
  bottom: 0px;
  height: 100%;
  text-align: center;
  z-index: 9999;
}
#community .swiper-pagination-bullet {
  width: 13px; height: 13px;
  border-radius: 50%;
  background: rgba(89, 89, 89, 0.5);
}
#community .swiper-pagination-bullet-active {
  background-color: #FDCD63;
}

/* aside바 */
#aside{
  float: right;
  width: 50px;
  background: rgba(255,255,255,.9);
  border-radius: 50px;
}
#aside i{
  font-size: 50px;
}