@charset "utf-8";
/* tablet 해상도 서식 */

@media screen and (min-width:720px) and (max-width:1199px) {

  /************ 레이아웃 ************/
  .wrap{width: 95%;}

  /************ 헤더 ************/
  .header_inner {height: 60px;}
  .header_inner .wrap {height: 60px;}
  body > header h1 {padding: 14px 0;}
  body > header h1 img {max-width: 114px;}

  /* 창업안내 버튼 */
  .header_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
  }
  .franchise_btn {
    width: 110px;
    font-size: 1rem; /*16px*/
  }

  /* 햄버거 메뉴 */
  label.menu_bars {
    display: inline-block;
    font-size: 2.25rem; /* 36px */
    color: var(--txt_basic);
    cursor: pointer;
  }
  
  /* 내비게이션 (햄버거 메뉴 클릭시 나타남) */
  #gnb {
    position: fixed;
    top: 0;left: 100%;
    width: 100%;height: 100%;
    background: #fff;
    border-radius: 30px 0 0 0;
    transition: 0.3s;
  }
  .gnb_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;height: 60px;
    background: var(--main_color);
    border-radius: 30px 0 0 0;
  }

  /* 닫기 버튼 */
  .close_btn {margin-left: 5%;}
  .close_btn i{font-size: 1.625rem;color: #FDFBF6;}

  /* 다국어 버튼 (PC버전 버튼 삭제 > 모바일버전 버튼 생성) */
  header > .wrap {display: none;}
  .gnb_top .lang{
    position: static;
    transform: translateY(-2px);
    margin-right: 3%;
  }
  .gnb_top .lang button{color: #FDFBF6;}
  .gnb_top .lang span{color: #FDFBF6;}

  /* 내비게이션 리스트 */
  #gnb > ul {
    flex-direction: column;
    width: 92%;
    margin-top: 35px;
    line-height: 70px;
    text-align: left;
  }
  #gnb > ul > li {
    width: 100%;
    border-bottom: 1px solid var(--main_color);
  }
  #gnb > ul > li > a {
    color: var(--main_color);
    font-size: 1.375rem; /*22px*/
  }
  .sub {
    display: flex;
    flex-wrap: wrap;
    margin-bottom : 35px;
    line-height: 18px; /*13px*/
    text-align: left;
  }
  .sub li {
    font-size: 1.25rem; /*20px*/
    padding: 0 25px;
    border-right: 1px solid #000;
  }
  .sub li:last-child {border-right: none;}
  #gnb > ul > li:nth-child(4) {margin: 0;}
  #gnb > ul > li:last-child .sub {
    width: 450px;
    margin-bottom: 10px;
  }
  #gnb > ul > li:last-child .sub li {margin-bottom: 30px;}
  #gnb > ul > li:last-child .sub li:nth-child(2) {border-right: none;}

  /* 하단 로고 */
  .gnb_logo {
    position: absolute;
    left: 50%;bottom: 2%;
    transform: translateX(-50%);
  }
  .gnb_logo img{width: 100px;}
  

  /************ 푸터 ************/
  footer{font-size: 15px;}
  .footer_top {padding: 50px 0 10px;}
  .footer_nav li {padding: 6px;}
  .footer_nav li::after {
    height: 14px;
    transform: translate(8px, 2px);
  }
  .sns {
    gap: 10px;
    margin-right: 15px;
  }
  .sns i {
    width: 36px;
    line-height: 36px;
  }
  .sns i[class*=face] {font-size: 1.25rem;} /*20px*/
  .sns i[class*=insta] {font-size: 1.5rem;} /*24px*/

  /* 패밀리 사이트 */
  .family {
    width: 210px;
    background-position: 94% 50%;
    background-size: 13px;
    font-size: 1.06rem; /*17px*/
    text-indent: 0.875rem; /*14px*/
  }
  .footer_bottom {padding: 30px 0 15px;}
  .footer_call {
    flex-direction: column;
    gap: 20px;
  }
  .footer_call dt {font-size: 1.375rem;} /*22px*/
  .footer_call dt i {
    width: 38px;
    line-height: 38px;
    font-size: 25px;
  }
  .footer_call dt i.fa-phone {
    width: 37px;height: 37px;
    font-size: 1.25rem; /*20px*/
  }
  .footer_call dd {
    padding-left: 55px;
    line-height: 18px;
    font-size: 0.875rem; /*14px*/
  }
  .footer_address {margin-top: 97px;}
  .footer_address img {width: 180px;}
  .footer_address address {
    padding: 15px 0;
    line-height: 18px;
    font-size: 0.875rem; /*14px*/
  }
  .footer_address p {margin-bottom: 8px;}

  /************ 메뉴 ************/
  #menu {
    flex-direction: column;
    height: 1260px;
  }  
  .box_left {width: 100%;}
  .box_left .box_cont {
    right: 0;
    width: 95%;
    padding: 8% 0 0 1%;
  }
  .box_left .box_cont h3 {font-size: 2.8rem;} /*45px*/
  .box_left .box_cont ul {font-size: 1.6rem;} /*25px*/
  .box_right {width: 100%;}
  .box_right .box_cont {
    width: 95%;
    padding: 8% 0 0 5%;
  }
  .box_right .box_cont h3 {font-size: 3rem;} /*48px*/
  .box_right .box_cont p {padding-bottom: 30px;}
  .box_right .img_box {position: static;}
  .box_right .main_img {
    position: absolute;top: -46%;
    margin-left: 40%;
    max-width: 500px;
  }

  /************ 뉴스&이벤트 ************/
  #news h3 {font-size: 2.8rem;} /*45px*/
  #news .swiper3 {width: 80%;}
  .card {
    min-width: 91%;
    min-height: 98%;
    max-width: 95%;
    max-height: 95%;
  }
  #news .arrow_btn {margin: 0 20px;}
  @media screen and (min-width: 720px) and (max-width: 909px) {
    .card {
      min-width: 60%;
      min-height: 98%;
      max-width: 100%;
      max-height: 100%;
    }
    #news .arrow_btn {margin: 0 80px;}
  }
  .news_txt h4 {
    font-size: 1.125rem; /*18px*/
    line-height: 1.5rem; /*24px*/
  } 
  .news_txt p {
    font-size: 1rem;
    line-height: 1.56rem; /*25px*/
  }

  /* 매장찾기 */
  #search h3 {
    font-size: 3.125rem; /*50px*/
    line-height: 3.75rem; /*60px*/
  }
  #search_bar {
    width: 40%;
    min-width: 360px;
  }

  /************ 매장찾기 ************/
  /* 원형 이미지 */
  .circle_box{top: -296px;left: -13%;}
  .circle1 {display: none;}
  .circle2 {
    top: 94px;left: 30%;
    width: 180px;height: 180px;
  }
  .circle3 img {top: 157px;left: 40%;}
  .circle4 img {
    top: 18%;left: 65%;
    width: 380px;height: 380px;
  }
  @media screen and (max-width: 810px) {
    .circle_box{left: 4%;}
    .circle4 img {display: none;} 
  }

  /************ 커뮤니티 ************/
  #community h2 {font-size: 2.687rem;} /*43px*/
  #community p {line-height: 1.625rem;} /*26px*/
  .sns_cont {
    flex-direction: column;
    justify-content: space-between;
  }
  .sns_outbox {width: 260px;height: 260px;}
  .sns_inbox {width: 230px;height: 230px;}
  .sns_inbox h3 {padding: 52px 0 10px 0;}
  .sns_inbox h3 img {width: 200px}
  .sns_inbox a {
    font-size: 1.25rem; /*20px*/
    margin-left: 22px;
  }
  /* 슬라이드 */
  #community .swiper4{width: 100%;}
  #community .swiper-slide a img {width: 100%;}
  @media screen and (max-width: 1040px) {
    #community .swiper-pagination {margin: 30px 0 0 8%;}
  }
  @media screen and (max-width: 779px) {
    #community .swiper-pagination {margin: 30px 0 0 11%;}
  }

  /************ 퀵메뉴 ************/
  #aside {
    right: 15px;bottom: 2%;
    width: 52px;height: 110px;
    padding: 10px 0;
    overflow: hidden;
  }
  #aside li:first-child {margin-bottom: 10px;}
  #aside li.quick_btn, .plus {
    right: 7px;
    width: 38px;height: 38px;
    line-height:38px;
  }
  #aside li:nth-child(3) {top: 104px;}
  #aside li:nth-child(4) {top: 150px;}
  #aside li.plus {display: block;}
  #aside li.quick_btn {display: none;}
  #aside li:first-child a {font-size: 1rem;}
  .close {
    top: 196px;
    background: var(--txt_basic);
    transition: 0.3s;
  }
  #aside i {font-size: 1.375rem;} /*22px*/
  #aside li:first-child i {transform: translateY(1px);}
  #aside li:nth-child(3) i {font-size: 1.187rem;} /*18px*/
  #aside li:nth-child(4) i {font-size: 1.5rem;} /*26px*/
  #aside li span {color: #FDFBF6;}
  
}