@charset "utf-8";
/* 기본서식 */

/* font-family: 'Noto Sans KR' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Wix Madefor Display' */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

/* font-family: 'Paytone One' */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* :root{ */
  /* color */
  /* --main_color:#AB162C;
  --sub_color:#93171F;
  --point_color1: #C1B7AE;
  --point_color2: #FDCD63; */

  /* txt-color */
  /* --txt_basic:#333; */

  /* font */
  /* --eng_font:'Wix Madefor Display', 'Pretendard', Inter;
} */

* {box-sizing: border-box;}

body{
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  font-size: 18px;
  /* color: var(--txt_basic); */
}